<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>

    <div class="edit-page">
      <%= link_to('Edit this page', "#{data.config.repository}/-/sse/master/source/#{current_page.file_descriptor.relative_path}/-/", id: 'edit-page-link') %>
    </div>
  </body>
</html>
